.box {
	position: absolute;
	top: -100vh;
	width: 100vw;
	height: 10px;
	background: blue;
	transition: top 0.7s;
	z-index: 2;
}
.box-transform {
	top: 0;
	height: 100vh;
}
.box-transform-second {
	top: 200vh;
	height: 100vh;
}
.form-check {
	margin-left: 20px;
}
.modal-body img {
	height: 200px;
	width: 200px;
}
.container {
	margin-top: 20vh;
	max-width: 600px;
}