@media (max-width: 1300px) {
	.section_text-container h1 {
		font-size: 2.5em;
	}

	.section_text-container h2 {
		font-size: 1.5em
	}

	.section_text-container p {
		font-size: 1.2em;
	}
	
	.main_thans-diary-bg:before, .main_wish-diary-bg:before, .main_action-fear-diary-bg:before, .main_diary-of-emotions-bg:before {
		transform: scale(0.9);
	}
	
	.phone-img {
		transform: scale(0.9);
	}
}

@media (max-width: 1200px){
	.main_action-fear-diary-bg:before {
		left: -430px;
		top: -80px;
	}
	
	.main_diary-of-emotions-bg:before {
		top: -70px;
		left: -100px;
	}
	
	.main_wish-diary-bg:before {
		top: -110px;
	}
	
	header nav .btn_download {
		padding: 10px 14px;
	}
}

@media (max-width: 1500px){
	.right-background:before {
		left: 80px;
	}
	
	.right-background {
		margin: 0 0 0 40px;
	}
}

@media (max-width: 991px){
	.row {
		position: relative;
	}

	.right-background {
		position: absolute;
		z-index: -1;
		right: 0px;
	}
	
	.left-background:before {
		top: -350px;
	}
	
	.right-background:before {
		left: -100px;
		top: -290px;
	}
	
	.main_thans-diary-bg {
		top: -40px;
		position: absolute;
		left: -190px;
	}
	
	.main_thans-diary-bg:before {
		left: -300px;
	}
	
	.main_wish-diary-bg {
		top: -100px;
		width: 500px;
		position: absolute;
		right: -260px;
	}
	
	.main_wish-diary-bg:before {
		top: -70px;
		left: 0px;
	}
	
	.main_action-fear-diary-bg {
		top: -80px;
		position: absolute;
		left: -180px;
	}
	
	.main_diary-of-emotions-bg {
		top: -100px;
		width: 500px;
		position: absolute;
		right: -280px;
	}
	
	.main_diary-of-emotions-bg:before {
		top: -90px;
		left: -30px;
	}
	
	.header_nav-link {
		display: none;
	}
	
	.header_utp .section_text-container {
		padding-top: 40px;
	}
}

@media (max-width: 767px){
	.main_info {
		padding: 55px 48px 55px;
	}
	
	.download-section {
		padding: 60px 0 50px;
	}
	
	.right-background {
		right: -30px;
	}
	
	.left-background:before {
		top: -340px;
	}
	
	.right-background:before {
		left: -70px;
		top: -290px;
	}
	
	.main_thans-diary-bg {
		top: -30px;
		width: 500px;
		position: absolute;
		left: -230px;
	}
	
	.main_wish-diary-bg {
		z-index: -1;
		top: -60px;
		width: 500px;
		position: absolute;
		right: -300px;
	}
	
	.main_action-fear-diary-bg {
		top: -30px;
		width: 500px;
		position: absolute;
		left: -220px;
	}
	
	.main_diary-of-emotions-bg {
		z-index: -1;
		top: -70px;
		width: 500px;
		position: absolute;
		right: -320px;
	}
}

@media (max-width: 575px){
	.header_utp .section_text-container {
		padding-top: 20px;
	}
	
	header nav .btn_download {
		display: none;
	}
	
	.right-background img{
		display: none;
	}
	
	.header_utp-download-container {
		flex-direction: column;
		align-items: start!important;
	}
	
	.header_utp-download-container a {
		padding: 5px 0;
	}
	
	.right-background:before {
		left: 340px;
		top: -400px;
	}
	
	.main_thans-diary-bg {
		top: -40px;
		position: absolute;
		left: -230px;
	}
	
	.main_wish-diary-bg {
		z-index: -1;
		top: -100px;
		width: 500px;
		position: absolute;
		right: -300px;
	}
	
	.main_action-fear-diary-bg {
		top: -80px;
		position: absolute;
		left: -220px;
	}
	
	.main_diary-of-emotions-bg {
		z-index: -1;
		top: -100px;
		width: 500px;
		position: absolute;
		right: -320px;
	}
	
	.main_thans-diary-bg:after, .main_action-fear-diary-bg:after {
		position: absolute;
		left: 170px;
		z-index: 0;
		background: rgba(255, 255, 255, 0.8);
		background-size: 40% 100%;
		width: 60%;
		height: 100%;
		content:"";
	}
	
	.main_wish-diary-bg:after, .main_diary-of-emotions-bg:after {
		position: absolute;
		top: -50px;
		left: 10px;
		z-index: 0;
		background: rgba(255, 255, 255, 0.8);
		background-size: 60% 100%;
		width: 60%;
		height: 150%;
		content:"";
	}
	
	.btn_utp {
		width: 100%;
	}
}

@media (max-width: 470px){
	.section_text-container h1 {
		font-size: 2em;
	}

	.section_text-container h2 {
		font-size: 1.5em
	}

	.section_text-container p {
		font-size: 1em;
	}
	
	.btn_utp {
		font-size: 1em;
	}
	
	.download-section h2 {
		font-size: 1.5em;
	}

	.download-section p {
		font-size: 1.2em;
	}
}

@media (min-width: 1500px){
	.container {
		max-width: 1400px;
	}
}

@media (min-width: 1921px){
	.main_thans-diary-bg:before {
		left: -200px;
	}
	
	.main_action-fear-diary-bg:before {
		left: -300px;
	}
}