body{
	/* overflow: hidden; */
    background:  #B2A796;
    color: #2f343e;
    margin: 0;
}

/* container styles */

.container-box{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    display: flex;
    justify-items: center;
    margin: auto;
}

.container-box__container{
    margin: auto;
    width: 90vw;
	max-width: 1200px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.container__column{
    width: 500px;
}

/* top column styles */

.column__top{
    display: none;
}

.top__title{
    width: 255px;
}

.top__theme-button{
    width: 60px;
}

/* left column styles */

.column__left{
    display: flex;
	flex-direction: column;
	align-items: center;
}

.theme-button{
    width: 80px;
    cursor: pointer;
}

.left__wheel_light-theme{
    position: relative;
    display: flex;
	flex-direction: column;
	align-items: center;
}

.wheel__ring{
    width: 500px;
}

.wheel__sign{
    position: absolute;
    top: 150px;
    width: 200px;
}

.wheel__title{
    position: absolute;
    top: 315px;
    font-size: 25px;
}

.wheel__arrows{
    position: relative;
    top: -20px;
    display: flex;
	flex-direction: row;
	justify-content: center;
}

.arrow{
    width: 60px;
    cursor: pointer;
}

/* right column styles */

.column__right{
    display: flex;
	flex-direction: column;
	align-items: center;
}

.right__title{
    width: 600px;
}

.right__text{
    padding-top: 40px;
    text-align: center;
    font-size: 23px;
}