html {
	font-family: "Gilroy"; 
	overflow-x: hidden;
}

body {
	position: relative;
	overflow-x: hidden;
}

/* general styles */
.animation_opacity {
	opacity: 1!important;
}

.main_info {
	padding: 75px 48px 75px;
	opacity: 0;
	transition: all 1.2s .5s ease-in-out;
}

.section_flex-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.section_text-container {
	padding: 0 0 48px;
	min-width: 280px;
}

.section_text-container h1 {
	font-family: 'Cambria';
  font-size: 3em;
  font-weight: 700;
  color: #313342;
}

.section_text-container h2 {
	font-size: 1.5em;
	font-family: "Gilroy";
	display: block;
	margin: 30px 0;
}

.section_text-container p {
	font-size: 1.4em;
	font-family: "Gilroy";
	font-weight: 600;
	color: #313342;
	line-height: 1.36;
	display: block;
	margin: 30px 0;
}

.btn {
	padding: 10px 30px;
	font-size: 	1.2em;
  border-radius: 10px;
  border: none;
  color: #313342;
  font-weight: 600;
  letter-spacing: 1.1px;
  line-height: 1.33;
}

.btn_download {
	background-color: #fff;
	font-family: "Gilroy";
}

.btn_download:focus, .btn_download:hover, .btn_download:active {
	border: 1px solid #fff;
	background-color: transparent;
	color: #fff;
}

.btn_utp {
	color: #fff;
	background-color: #313342;
	padding: 22px 30px;
	max-width: 530px;
	font-size: 1.4em;
	font-family: "Gilroy";
}

/* header styles */

header nav .btn_download {
	font-size: 1rem;
}

nav {
	padding: 25px 0;
}

.header_nav-link {
	padding: 0 20px;
	font-size: 1.2em;
	font-family: "Gilroy";
  font-weight: 600;
  line-height: 1.33;
  text-align: center;
  color: #313342; 
}

.header_utp {
	padding: 25px 50px 75px;
}
.header_utp .section_text-container {
	padding-top: 86px;
}

.logo_img:before {
	content: url(img/background/for-logo.png);
	position: absolute;
	transition: all 0.5s 0.1s ease-in-out;
	z-index: -100;
	top: -90px;
	left: -180px;
}

.logo_img:hover:before {
	transform: scale(1.1);
}

.right-background:before {
	content: url(img/background/right.png);
	position: absolute;
	z-index: -100;
	top: -230px;
	left: 120px;
}

.left-background:before {
	content: url(img/background/left.png);
	position: absolute;
	z-index: -200;
	top: -320px;
	left: -530px;
}

/* main_***-bg styles */

.main_thans-diary-bg:before {
	content: url(img/background/thanks-diary-bg.png);
	position: absolute;
	z-index: -100;
	left: -335px;
	top: -30px;
}

.main_wish-diary-bg:before {
	content: url(img/background/wish-diary-bg.png);
	position: absolute;
	z-index: -100;
	left: -70px;
	top: -70px;
}

.main_action-fear-diary-bg:before {
	content: url(img/background/action-fear-diary-bg.png);
	position: absolute;
	z-index: -100;
	left: -370px;
	top: -50px;
}

.main_diary-of-emotions-bg:before {
	content: url(img/background/diary-of-emotions-bg.png);
	position: absolute;
	z-index: -100;
	top: -90px;
	left: -120px;
}

.download-section {
	padding: 125px 0 100px;
	text-align:center;
}

.download-section h2 {
	font-family: 'Cambria';
	font-weight: 600;
}

.download-section p {
	font-size: 2em;
	font-family: "Gilroy";
}

/* footer styles */

footer{
	font-family: "Gilroy";
	padding: 60px 0;
	background: #313342;
	color: #bcbcbc;
	font-size: 1em;
}

.footer_left-text b{
	color: white;
}

footer a{
	color: #bcbcbc;
}

.footer_left-text a{
	text-decoration: underline;
}