@media (max-width: 1366px){
	.main-img {
		left: auto;
		right: -300px;
	}
}

@media (max-width: 1024px){
	.why-us  {
		flex-direction: column;
	}
	.why-us-img {
		order: -1;
		margin-bottom: 20px;
		margin-left: auto;
		margin-right: auto;
	}
	.why-us-margin {
		margin-left: auto;
		margin-right: auto;
	}
	.why-us-list-item p{
		margin-left: 20px;
	}
}

@media (max-width: 991px){
	.main-text {
		padding-top: 40px;
		padding-bottom: 80px;
	}
	.nav-item {
		padding-top: 15px;
	}
	.main-img {
		width: 500px;
		height: 500px;
		right: -200px;
	}
}

@media (max-width: 900px){
	.auto-background img {
		top: -100px;
		width: 300px;
	}
	.auto-background {
		margin-top: 150px;
		padding-top: 100px;
		padding-bottom: 2rem;
	}
}

@media (max-width: 799px){
	.center-footer-block h2 {
		font-size: 25px;
	}
}

@media (max-width: 768px){
	h1 {
		font-size: 45px;
	}
	.main-p {
		font-size: 25px;
	}
	.main-img {
		width: 400px;
		height: 400px;
		right: -150px;
	}
	h2 {
		font-size: 30px;
	}
	.auto {
		font-size: 20px;
	}
	.auto-request {
		font-size: 20px;
		margin-bottom: 20px;
	}
	.why-us-p {
		font-size: 20px;
		margin-bottom: 40px;
	}
	.how-works .row .col-md-4 p:last-child  {
		font-size: 20px; 
	}
	.how-works {
		padding-top: 30px;
		padding-bottom: 20px;
	}
}

@media (max-width: 767px){
	.line {
		display: none;
	}
	footer {
		margin: 40px 0 0;
		background: linear-gradient(to top, rgb(237,237,237), white);
	}
	.left-footer-block {
		order: 1;
	}
	footer .container .row {
		flex-direction: column;
	}
	footer .container .row .col-md-4 {
		margin: 15px 0;
	}
	.left-footer-block {
		text-align: center;
	}
	.right-footer-block {
		align-items: center;
	}
	.right-footer-block-content {
		justify-content: center;
	}
	.right-footer-block p:first-child {
		margin-right: 20px;
	}
	.why-us-img {
		width: 350px;
		height: 350px;
	}
}

@media (max-width: 700px){
	.auto-background img {
		top: -90px;
		width: 280px;
	}
	.auto-background {
		margin-top: 130px;
	}
}

@media (max-width: 637px){
	.auto-background {
		margin-top: 125px;
		width: 100%;
		padding: 150px 50px 50px;
	}
	.auto-background img {
		top: -100px;
		width: 300px;
	}
	.auto-request {
		width: 100%;
	}
	#btn-request {   
		min-width: 290px;
		font-size: 18px;
	}
	.main-text {
		padding-bottom: 60px;
	}
	.auto-background {
		padding-top: 100px;
		padding-bottom: 1rem;
	}
	.advantage-list li {
		max-width: 100%;
		width: 250px;
		text-align: center;
		padding: 20px 20px;
		border-right: 0;
		border-bottom: 2px solid #feda00;
		margin: 0 auto!important;
	}
	.advantage-list {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.advantage-list li:last-child {
		border-bottom: 0;
	}
	.btn-position {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.main-img {
		opacity:0.2;
	}
}

@media (max-width: 560px){
	.why-us-img {
		width: 300px;
		height: 300px;
	}
	.how-works {
		margin: 20px 0; 
	}
	#questions-title {
		padding-top: 50px;
	}
}

@media (max-width: 507px){
	.auto-background img {
		top: -90px;
		width: 280px;
	}
	.auto-request {
		font-size: 25px;
	}
	.main-text {
		padding-bottom: 70px;
	}
}

@media (max-width: 500px){
	h1{
		font-size: 35px;
	}
	#questions-title {
		font-size: 35px;
	}
	.main-p, .auto, .auto-request, .form-control, label, .why-us-p, .advantage-list {
		font-size: 16px;
	}
	h2, .feedback-h2 {
		font-size: 25px;
	}
	.auto-request,.feedback-p, .why-us-list-item {
		font-size: 20px;
	}
	.why-us-list-item img {
		width: 50px;
	}
	.main-img {
		width: 300px;
		height: 300px;
		right: -140px;
	}
	#how-works-h1 {
		margin-bottom: 10px;
	}
}

@media (max-width: 474px){
	.main-text {
		padding-top: 25px;
	}
	table {
		font-size: 11px;
	}
	.table td, .table th {
		padding: 0.75rem 2px;
	}
	#table-form {
		margin-top: 15px;
	}
}

@media (max-width: 425px){
	.advantage-list li {
		padding: 10px 10px;
		width: 225px;
	}
}

@media (max-width: 375px){
	.why-us-p {
		margin-bottom: 20px;
	}
	.table {
		margin-bottom: 70px;
	}
	#cost h1 {
		padding-top: 60px;
		margin-bottom: 0;
	}
}

@media (max-width: 343px){
	#phone {
		font-size: 20px;
	}
	.why-us-img {
		width: 250px;
		height: 250px;
	}
}