@font-face {
font-family: 'Circe Extra Bold';
src: url('../fonts/Circe-ExtraBold.eot');
src: url('../fonts/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
url('../fonts/Circe-ExtraBold.woff') format('woff'),
url('../fonts/Circe-ExtraBold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Circe Regular';
src: url('../fonts/Circe-Regular.eot');
src: url('../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/Circe-Regular.woff') format('woff'),
url('../fonts/Circe-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Circe Bold';
src: url('../fonts/Circe-Bold.eot');
src: url('../fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'),
url('../fonts/Circe-Bold.woff') format('woff'),
url('../fonts/Circe-Bold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
header {
	background: rgb(237,237,237);
}
.navbar-brand img {
	margin-right: 20px;
}
.navbar-width {
	max-width: 1110px;
	margin: auto;
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-text-style {
	font-family: 'Circe Regular';
	font-size: 18px;
}
.navbar-brand-text-style {
	font-family: 'Circe Bold';
	font-size: 24px;
	color: black!important;
}
.nav-link strong {
	font-size: 24px;
}
.nav-link-color {
	color: black!important;
}
.nav-link-padding {
	padding: 0 20px!important;
}
.container-width {
	max-width: 1110px;
}
.row-padding {
	padding: 0 15px;
}	
.main {
	margin: auto;
	position:relative;
	max-width: 1110px;
	padding: 0 15px;
}
.main-text {
	margin: 0 auto;
	padding: 130px 0 80px;
}
.main-img {
	width: 630px;
	height: 630px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 40px;
	position: absolute;
	left: 820px;
	top: -90px;
}
.main-img-border {
	width: inherit;
	height: inherit;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 40px;
	-webkit-transform: rotate(55deg);
	-ms-transform: rotate(55deg); 
	transform: rotate(55deg);
	position: relative;
	z-index: -1;
}
.main-img-rotate {
	width: inherit;
	height: 140%;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-transform: rotate(-55deg);
	-ms-transform: rotate(-55deg); 
	transform: rotate(-55deg);
	z-index: -1;
}
.main-img-rotate img {
	position: absolute;
	top: 120px;
}
.main-img:before {
	position: absolute;
	z-index: -1;
	content: "";
	width: inherit;
	height: inherit;
	border-radius: 40px;
	background: #efd53e;
	-webkit-transform: rotate(45eg);
	-ms-transform: rotate(45deg); 
	transform: rotate(45deg);
}
.main-p {
	font-family: 'Circe Regular'; 
	margin: 35px 0; 
	font-size: 30px;
}
.advantage-list {
	font-family: 'Circe Regular';
	font-size: 18px;
	margin-bottom: 50px;
	list-style: none;
	display: flex;
	padding-inline-start: 0;
}
.advantage-list li {
	max-width: 180px; 
	padding-right: 35px;
	margin-right: 20px;
	border-right: 2px solid #feda00;
}
.advantage-list li:last-child {
	border-right: 0px;
}
h1 {
	text-align: center;
	font-family: 'Circe Extra Bold';
	font-size: 60px;
}
.btn {
	padding: 0.8rem 2rem;
	font-family: 'Circe Bold';
	font-size: 20px;
	border-radius: 0.5rem;
	background: #feda00;
}
.btn:focus, .btn:hover {
	border-color: #feda00;
	box-shadow: 0 0 0 0.2rem rgba(254,218,0,.5);
}
.btn[type="submit"] {
	width: 100%;
}
.auto-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.auto {
	width: 70%;
	text-align: center;
	font-family: 'Circe Regular';
	font-size: 24px;
}
.auto-background {
	width: 49%;
	min-width: 290px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 150px 10px 50px 10px;
	margin-top: 200px;
	background: #ededed;
	border-radius: 30px;
	position: relative;
}
.auto-background img {
	position: absolute;
	top: -150px;
	width: 400px;
}
h2 {
	font-family: 'Circe Bold';
	font-size: 36px;
}
.auto-request {
	width: 100%;
	min-width: 290px;
	font-family: 'Circe Bold';
	font-size: 30px;
	text-align: center;
	margin: 20px 0 40px 0;
	padding: 0.8rem 2rem;
	background: #ededed;
	border-radius: 30px;
}
#cost h1 {
	margin: 60px 0 60px;
}
label {
	color: #c6c6c6;
	font-family: 'Circe Bold';
	font-size: 18px;
	position: relative;
}
label:after {
	content: "\204e";
	position: relative;
	top: -5px;
}
#cost form .form-row .col-md-3, #cost form .form-row .col-md-4, #cost form .form-row .col-md-2 {
	padding: 0 10px;
}
.form-control {
	font-family: 'Circe Extra Bold';
	font-size: 18px;
	color: black;
    border: 2px solid #c6c6c6;
	border-radius: 0.5rem;
}
.form-control:focus {
	color: black;
	border-color: #feda00;
	box-shadow: 0 0 0 0.2rem rgba(254,218,0,.25);
}
#table-form {
	margin: 30px 0;
}
table {
	border: 1px solid #dee2e6;
}
.table {
	margin-bottom: 80px;
}
.table td, .table th {
	border-top: 0;
}
.table-hover tbody tr:hover {
	background-color: rgba(254,218,0,.5);
	cursor: pointer;
}
.why-us {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.why-us-list {
	display: flex;
	max-width: 500px;
	flex-direction: column;
}
.why-us-list-item {
	display: flex;
	align-items: center;
	font-family: 'Circe Regular';
	font-size: 24px;
	margin: 20px;
}
.why-us-p {
	font-family: 'Circe Regular';
	margin: 30px 0 80px; 
	font-size: 24px;
	text-align:center;
}
.why-us-list-item img{
	width: 60px;
}
.why-us-list-item-img {
	width: 60px;
	height: 60px;
	margin: 2px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}
.why-us-list-item p {
	margin: 0 0 0 40px;
	max-width: 340px;
}
.why-us-img {
	width: 500px;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 40px;
	position: relative;
	margin-right: 15px;
}
.why-us-img-border {
	position: relative;
	width: inherit;
	height: inherit;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 40px;
	-webkit-transform: rotate(2deg);
	-ms-transform: rotate(2deg); 
	transform: rotate(2deg);
}
.why-us-img-rotate {
	position: relative;
	width: inherit;
	height: 130%;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg); 
	transform: rotate(-2deg);
}
.why-us-img:before {
	position: absolute;
	z-index: -1;
	content: "";
	width: inherit;
	height: inherit;
	border-radius: 40px;
	background: #efd53e;
	-webkit-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg); 
	transform: rotate(-5deg);
}
#how-works-h1 {
	margin-bottom: 20px;
}
.cicle {
	position: absolute;
	height: 25px;
	width: 25px;
	background: #feda00;
	border-radius: 50%;
	top: 55px;
	left: 50%;
	transform: translate(-50%, -50%);
}
.how-works {
	background: #ededed;
	border-radius: 30px;
	text-align: center;
	padding: 60px 1.5rem 50px;
	margin: 80px 0;
}
.how-works .row .col-md-4 {
	position: relative;
	padding-top: 80px;
}
.how-works .row .col-md-4 p:first-child {
	font-family: 'Circe Extra Bold';
	font-size: 72px; 
	color: #a5a5a5;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	top: 40px;
}
.how-works .row .col-md-4 p:last-child {
	font-family: 'Circe Regular';
	font-size: 24px; 
}
.line {
	position: absolute;
	left: 100%;
	top: 55px;
	transform: translate(-50%, -50%);
	padding-right: 100%;
	border: 1px solid #a5a5a5;
}
#feedback .row {
	padding: 40px 0 0;
}
#feedback .row .col-md-5 form .form-group {
	margin-bottom: 1.25rem;
}
.feedback-h2 {
	font-family: 'Circe Extra Bold';
	font-size: 27px;
	margin-left: 15px;
}
.feedback-p {
	font-family: 'Circe Bold'; 
	font-size: 24px; 
	margin: 0 10px;
}
.form-control {
	padding: 1.5rem .75rem; 
	border-radius: 0.75rem;
}
.input-group-text {
	background: inherit;
	font-family: 'Circe Extra Bold';
	font-size: 18px; 
	border: 2px solid #c6c6c6;
	border-right: 0;
}
.btn, .input-group-text {
	border-radius:0.75rem;
}
.form-row {
	align-items: flex-end;
}
.col-md-6 .container-fluid {
	display: flex;
	align-items: center;
	margin: 20px 0;
	width: auto;
}
.col-md-6 .container {
	display: flex;
	align-items: center;
	margin: 20px 5px;
}
#phone {
	font-family: 'Circe Bold'; 
	font-size: 24px;
	margin: 0;
	color: black;
	text-decoration: none;
}
.left-footer-block {
	font-family: 'Circe Regular';
	font-size: 14px;
}
.center-footer-block {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.center-footer-block h2 {
	font-family: 'Circe Bold';
	font-size: 30px;
	margin: 0;
}
.right-footer-block {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.right-footer-block p {
	font-family: 'Circe Regular'; 
	font-size: 16px;
	color: #c6c6c6;
	margin: 0 92px 0 0;
}
.right-footer-block .container p {
	font-family: 'Circe Bold'; 
	font-size: 30px; 
	color: black;
	margin: 0 0 0 10px;
}
.right-footer-block .container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
footer {
	margin: 80px 0 50px 0;
}
footer .container .row {
	align-items: center;
}
#modal-background {
	z-index: 9999;
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background:rgba(237,237,237, 0.8);
	overflow-y: scroll
}
#modal-form {
	background-color: white;
	border: 2px solid rgb(237,237,237);
	border-radius: 20px;
	box-shadow: 0 0 5px black;
	padding: 10px;
	margin: 10px auto;
	max-width: 500px;
}