/* -----------header styles:----------- */

.navbar-brand img {
	margin-right: 20px;
}
.navbar-width {
	max-width: 1110px;
	margin: auto;
    padding-right: 15px;
    padding-left: 15px;
	transition: padding 200ms;
}
.navbar-text-style {
	font-family: 'Circe Regular';
	font-size: 18px;
}
.navbar-brand-text-style {
	font-family: 'Circe Bold';
	font-size: 24px;
	color: black!important;
}
.nav-link strong {
	font-size: 24px;
}
.nav-link-color {
	color: black!important;
}
.nav-link-color:hover {
	text-shadow: 1px 1px 2px rgba(254, 218, 0, 1);
}
.nav-link-padding {
	padding: 0 20px!important;
}
.sticky {
	position: fixed;
    width: 100%;
    z-index: 100;
	top: 0;
	left: 0;
    transition: padding 200ms;
	background: rgb(237,237,237);
}
.fixed {
    position: fixed;
    width: 100%;
    z-index: 100;
	top: 0;
	left: 0;
    background: rgb(237,237,237);
}
.navbar-sticky {
	padding-top: 2px;
	padding-bottom: 2px;
	transition: padding 200ms;
}

/* -----------main section styles:----------- */

.container {
	max-width: 1110px;
}
.main-text {
	max-width: 650px;
	padding: 130px 0 80px;
}
h1 {
	text-align: center;
	font-family: 'Circe Extra Bold';
	font-size: 60px;
}
.main-text h1:first-child {
	color: #ecce19;
}
.main-p {
	font-family: 'Circe Regular'; 
	margin: 35px 0; 
	font-size: 30px;
}
.advantage-list {
	font-family: 'Circe Regular';
	font-size: 18px;
	margin-bottom: 50px;
}
.list-border {
	margin-right: 20px!important;
	padding: .25rem 1.25rem .25rem 0;
	border: 0;
	border-right: 2px solid #feda00;
}
.list-border-none {
	border-right: 0px;
}

/* -----------main img----------- */

.main-img {
	width: 630px;
	height: 630px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 40px;
	position: absolute;
	left: 820px;
	top: -90px;
}
.main-img-border {
	width: inherit;
	height: inherit;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 40px;
	-webkit-transform: rotate(55deg);
	-ms-transform: rotate(55deg); 
	transform: rotate(55deg);
	position: relative;
	z-index: -1;
}
.main-img-rotate {
	width: inherit;
	height: 140%;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-transform: rotate(-55deg);
	-ms-transform: rotate(-55deg); 
	transform: rotate(-55deg);
	z-index: -1;
}
.main-img-rotate img {
	position: absolute;
	top: 130px;
}
.main-img:before {
	position: absolute;
	z-index: -1;
	content: "";
	width: inherit;
	height: inherit;
	border-radius: 40px;
	background: #efd53e;
	-webkit-transform: rotate(45eg);
	-ms-transform: rotate(45deg); 
	transform: rotate(45deg);
}

/* -------button style:------- */

.btn-style, .btn-style:focus {
	color: black;
	padding: 0.8rem 2rem;
	font-family: 'Circe Bold';
	font-size: 20px;
	border: rgb(254, 218, 0);
	border-radius: 0.75rem;
	background: #feda00;
	box-shadow: none;
}
.btn-style:hover {
	border-color: #feda00;
	color: black!important;
	box-shadow: 0 0 0 0.2rem rgba(254, 218, 0, 0.5);
	background: white!important;
}
.btn-style:active {
	box-shadow: 0 0 0 0.2rem rgb(254, 218, 0)!important;
	color: black!important;
	background: white!important;
}

/* -----------auto section styles:----------- */

.auto-background {
	width: 49%;
	min-width: 290px;
	padding: 150px 10px 50px 10px;
	margin-top: 200px;
	background: #ededed;
	border-radius: 30px;
	position: relative;
}
.auto {
	text-align: center;
	font-family: 'Circe Regular';
	font-size: 24px;
}
.auto-background img {
	position: absolute;
	top: -150px;
	width: 400px;
}
h2 {
	font-family: 'Circe Bold';
	font-size: 36px;
}
.auto-request {
	width: 100%;
	min-width: 290px;
	font-family: 'Circe Bold';
	font-size: 30px;
	text-align: center;
	margin: 20px 15px 40px;
	padding: 0.8rem 2rem;
	background: #ededed;
	border-radius: 30px;
}

/* ---------travel cost section styles:----------- */

#cost h1 {
	padding-top: 60px;
	margin-bottom: 60px;
}
.label-style {
	color: #c6c6c6;
	font-family: 'Circe Bold';
	font-size: 18px;
	position: relative;
}
.form-control-style {
	font-family: 'Circe Extra Bold';
	font-size: 18px;
	color: black;
	padding: 1.5rem .75rem; 
    border: 2px solid #c6c6c6;
	border-radius: 0.75rem!important;
}
.form-control-style:focus {
	color: black;
	border-color: #feda00;
	box-shadow: 0 0 0 0.2rem rgba(254,218,0,.25);
}
#table-form {
	margin: 30px 0;
}
.table-border {
	border: 1px solid #dee2e6;
	margin-bottom: 80px!important;
}
.modal-title-style {
	font-family: 'Circe Extra Bold';
	font-size: 20px; 
}

/* --------------why us section styles:---------------- */

.why-us-p {
	font-family: 'Circe Regular';
	margin: 30px 0 70px; 
	font-size: 24px;
	text-align:center;
}
.why-us-list-item {
	font-family: 'Circe Regular';
	font-size: 24px;
	margin: 20px;
}
.why-us-list-item span {
	color: #efd53e
}
.why-us-list-item img{
	width: 60px;
}
.why-us-list-item-img {
	width: 60px;
	height: 60px;
	margin: 2px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}
.why-us-list-item p {
	margin: 0 0 0 40px;
	max-width: 340px;
}

/* ----------why us img----------- */

.why-us-img {
	width: 500px;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 40px;
	position: relative;
	margin-right: 15px;
}
.why-us-img-border {
	position: relative;
	width: inherit;
	height: inherit;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 40px;
	-webkit-transform: rotate(2deg);
	-ms-transform: rotate(2deg); 
	transform: rotate(2deg);
}
.why-us-img-rotate {
	position: relative;
	width: inherit;
	height: 130%;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg); 
	transform: rotate(-2deg);
}
.why-us-img:before {
	position: absolute;
	z-index: -1;
	content: "";
	width: inherit;
	height: inherit;
	border-radius: 40px;
	background: #efd53e;
	-webkit-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg); 
	transform: rotate(-5deg);
}

/* --------------how it work section styles:---------------- */

#how-works-h1 {
	margin-bottom: 20px;
}
.cicle {
	position: absolute;
	height: 25px;
	width: 25px;
	background: #feda00;
	border-radius: 50%;
	top: 55px;
	left: 50%;
	transform: translate(-50%, -50%);
}
.how-works {
	background: #ededed;
	border-radius: 30px;
	text-align: center;
	padding: 60px 1.5rem 50px;
	margin-top: 80px;
}
.col-padding {
	padding-top: 80px;
}
.col-padding p:first-child {
	font-family: 'Circe Extra Bold';
	font-size: 72px; 
	color: #a5a5a5;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	top: 40px;
}
.col-padding p:last-child {
	font-family: 'Circe Regular';
	font-size: 24px; 
}
.line {
	position: absolute;
	left: 100%;
	top: 55px;
	transform: translate(-50%, -50%);
	padding-right: 100%;
	border: 1px solid #a5a5a5;
}

/* ---------------contact info section styles:----------------- */

#questions-title {
	padding-top: 80px;
	margin-bottom: 50px;
}
.feedback-h2 {
	font-family: 'Circe Extra Bold';
	font-size: 27px;
	margin-left: 15px;
}
.feedback-p {
	font-family: 'Circe Bold'; 
	font-size: 24px; 
	margin: 0 10px;
	color: black;
}
#phone {
	font-family: 'Circe Bold'; 
	font-size: 24px;
	margin: 0;
	color: black;
	text-decoration: none;
}
.feedback-label {
	color: #c6c6c6; 
	font-family: 'Circe Bold'; 
	font-size: 18px; 
	margin: 0; 
	position: relative; 
	top: 5px;
}
.feedback-p-work-time{
	font-family: 'Circe Bold'; 
	font-size: 18px; 
	margin: 0;
}

/* ------------footer styles:------------- */

footer {
	margin: 80px 0 50px 0;
}
.left-footer-block {
	font-family: 'Circe Regular';
	font-size: 14px;
}
.center-footer-block h2 {
	font-family: 'Circe Bold';
	font-size: 30px;
	margin: 0;
}
.center-footer-block p {
	font-family: 'Circe Regular'; 
	font-size: 12px; 
	margin: 0;
}
.right-footer-block {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.right-footer-block p {
	font-family: 'Circe Regular'; 
	font-size: 16px;
	color: #c6c6c6;
	margin: 0 92px 0 0;
}
.right-footer-block-content p {
	font-family: 'Circe Bold'; 
	font-size: 30px; 
	color: black;
	margin: 0 0 0 10px;
}
.right-footer-block-content {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.right-footer-block-content:hover{
	text-decoration: none;
}